@import url(http://fonts.googleapis.com/css?family=Lato:700);

* {
	box-sizing: border-box;
}
html,
body {
	background: #fff;
	font: 16px sans-serif;
	margin: 0;
}
p {
	line-height: 1.625;
	margin: 0 0 10px;
}
kbd {
	background: #34495e;
	border-radius: 4px;
	color: #ffffff;
	font-size: 13px;
	padding: 2px 6px;
}
.row {
	margin-bottom: 20px;
}
.hint {
	color: #bbb;
}
#wrap {
	margin: 60px auto;
	max-width: 400px;
}
#header input {
	border: 0;
	font: bold 57px Lato, sans-serif;
	margin: 0;
	outline: 0;
	width: 100%;
}
#demo {
	position: relative;
}
#demo h3 {
	color: #bdc3c7;
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 10px;
	text-transform: uppercase;
}
#demo textarea,
#demo input {
	border: 2px solid #bdc3c7;
	border-radius: 6px;
	font: 20px Helvetica, Arial, sans-serif;
	line-height: 1.467;
	outline: none;
	padding: 8px 12px;
	resize: none;
	transition: all .25s;
	width: 100%;
}
#demo textarea:focus,
#demo input:focus {
	border-color: #1abc9c;
}
#demo .section {
	margin-bottom: 30px;
}
#demo #matches {
	color: #bdc3c7;
	font-size: 12px;
	font-family: monospace;
	margin-top: 17px;
	position: absolute;
	right: 33px;
	text-transform: uppercase;
	transition: all .3s;
}

@media (max-width: 768px) {
	#wrap {
		margin: 30px auto;
	}
	#header input {
		font-size: 44px;
	}
}
