* {
	box-sizing: border-box;
}
body {
	margin: 20% 0;
}

kbd {
	background: #34495e;
	border-radius: 4px;
	color: #ffffff;
	font-size: 13px;
	padding: 2px 6px;
}
#demo {
	margin: 0 auto;
	max-width: 400px;
	padding: 0 20px;
	position: relative;
}
#demo input {
	border: 2px solid #bdc3c7;
	border-radius: 6px;
	font: 20px Helvetica, Arial, sans-serif;
	line-height: 1.467;
	outline: none;
	padding: 8px 12px;
	transition: all .25s;
	width: 100%;
}
#demo input.hint {
	color: #bbb;
}
#demo input:focus {
	border-color: #1abc9c;
}
